body{
  font-family: Arial;
  margin:0;
  background:#f4f6f9;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:300px;
  box-shadow:0 0 10px rgba(0,0,0,.2);
}

input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  width:100%;
  padding:10px;
  background:#007bff;
  color:white;
  border:none;
  cursor:pointer;
}

nav{
  background:#002b5c;
  color:white;
  display:flex;
  justify-content:space-between;
  padding:15px;
}

nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

.profile-container{
  padding:30px;
  display:flex;
  gap:40px;
}

.passport-box img{
  width:150px;
  height:150px;
  border-radius:10px;
  object-fit:cover;
}